html{
    margin: 0;
    padding: 0;
    width: 100%;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 10vh;
    background: url(pics/AdminMain.png);
    background-size: cover;
    font-family: "Lucida Sans";
}

.leftbox{

    font-family: "Lucida Sans";

    width: border-box;
    height: 80%;

    margin-top: 10%;
    margin-left: 20%;
}

.rightbox{

    font-family: "Lucida Sans";

    width: border-box;
    height: 80%;

    margin-top: -4%;
    margin-left: 60%;
}

.RegNewAdmin {

    position: fixed;
    font-family: "Lucida Sans";
    font-size: 30px;
    text-align: center;
    color: #cacaca;
    padding: 10px 20px 10px 20px;

    border: solid #cacaca 1px;

    transition-duration: 1000ms;

    text-decoration: none;
    width: 320px;
}

.RegNewAdmin:hover {

    background: rgba(190, 190, 190, 0.58);
    color: white;

}

.RegNewDonor {

    position: fixed;
    font-family: "Lucida Sans";
    font-size: 30px;
    text-align: center;
    color: #cacaca;
    padding: 10px 20px 10px 20px;

    border: solid #cacaca 1px;

    transition-duration: 1000ms;

    margin-top: 100px;

    text-decoration: none;
    width: 320px;
}

.RegNewDonor:hover {

    background: rgba(190, 190, 190, 0.58);
    color: white;

}

.RegNewPat {

    position: fixed;
    font-family: "Lucida Sans";
    font-size: 30px;
    text-align: center;
    color: #cacaca;
    padding: 10px 20px 10px 20px;

    border: solid #cacaca 1px;

    transition-duration: 1000ms;

    margin-left: 0px;
    margin-top: 200px;

    text-decoration: none;
    width: 320px;
}

.RegNewPat:hover {

    background: rgba(190, 190, 190, 0.58);
    color: white;

}

.RegNewHosp {

    position: fixed;
    font-family: "Lucida Sans";
    font-size: 30px;
    text-align: center;
    color: #cacaca;
    padding: 10px 20px 10px 20px;

    border: solid #cacaca 1px;

    transition-duration: 1000ms;

    margin-top: 300px;

    text-decoration: none;
    width: 320px;
}

.RegNewHosp:hover {

    background: rgba(190, 190, 190, 0.58);
    color: white;

}

.RegNewBB {

    position: fixed;
    font-family: "Lucida Sans";
    font-size: 30px;
    text-align: center;
    color: #cacaca;
    padding: 10px 20px 10px 20px;

    border: solid #cacaca 1px;

    transition-duration: 1000ms;

    margin-left: 0px;
    margin-top: 400px;
    width: 320px;

    text-decoration: none;
}

.RegNewBB:hover {

    background: rgba(190, 190, 190, 0.58);
    color: white;

}










.ViewBB {

    position: fixed;
    font-family: "Lucida Sans";
    font-size: 30px;
    text-align: center;
    color: #cacaca;
    padding: 10px 20px 10px 20px;

    border: solid #cacaca 1px;

    transition-duration: 1000ms;

    text-decoration: none;
    width: 320px;
}

.ViewBB:hover {

    background: rgba(190, 190, 190, 0.58);
    color: white;

}

.ViewDonor {

    position: fixed;
    font-family: "Lucida Sans";
    font-size: 30px;
    text-align: center;
    color: #cacaca;
    padding: 10px 20px 10px 20px;

    border: solid #cacaca 1px;

    transition-duration: 1000ms;

    margin-top: 100px;

    text-decoration: none;
    width: 320px;
}

.ViewDonor:hover {

    background: rgba(190, 190, 190, 0.58);
    color: white;

}

.ViewHosp {

    position: fixed;
    font-family: "Lucida Sans";
    font-size: 30px;
    text-align: center;
    color: #cacaca;
    padding: 10px 20px 10px 20px;

    border: solid #cacaca 1px;

    transition-duration: 1000ms;

    margin-top: 200px;

    text-decoration: none;
    width: 320px;
}

.ViewHosp:hover {

    background: rgba(190, 190, 190, 0.58);
    color: white;

}

.ViewPat {

    position: fixed;
    font-family: "Lucida Sans";
    font-size: 30px;
    text-align: center;
    color: #cacaca;
    padding: 10px 20px 10px 20px;

    border: solid #cacaca 1px;

    transition-duration: 1000ms;

    margin-top: 300px;

    text-decoration: none;
    width: 320px;
}

.ViewPat:hover {

    background: rgba(190, 190, 190, 0.58);
    color: white;

}

.ViewEmp {

    position: fixed;
    font-family: "Lucida Sans";
    font-size: 30px;
    text-align: center;
    color: #cacaca;
    padding: 10px 20px 10px 20px;

    border: solid #cacaca 1px;

    transition-duration: 1000ms;

    margin-left: 0px;
    margin-top: 400px;
    width: 320px;

    text-decoration: none;
}

.ViewEmp:hover {

    background: rgba(190, 190, 190, 0.58);
    color: white;
}


.detailsclass{

    position: fixed;
    margin-top: 500px;
    margin-left: 40%;

}

.infoclass{

    position: fixed;
    top: 80%;
    left: 40%;

}

.infor {

    position: fixed;
    font-family: "Lucida Sans";
    font-size: 30px;
    text-align: center;
    color: #cacaca;
    padding: 10px 20px 10px 20px;

    border: solid #cacaca 1px;

    transition-duration: 1000ms;

    width: 320px;

    text-decoration: none;

}

.infor:hover{

    background: rgba(190, 190, 190, 0.58);
    color: white;

}

.backclass{

    position: fixed;
    top: 89%;
    left: 40%;

}

.backbutton {

    position: fixed;
    font-family: "Lucida Sans";
    font-size: 30px;
    text-align: center;
    color: #cacaca;
    padding: 10px 20px 10px 20px;

    border: solid #cacaca 1px;

    transition-duration: 1000ms;

    width: 320px;

    text-decoration: none;
}

.backbutton:hover {

    background: rgba(190, 190, 190, 0.58);
    color: white;
}

